@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/images/background-pattern-desktop.svg);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  height: 100vh;
  box-sizing: border-box;
}

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: hsl(275, 100%, 97%);
  --main-background-color: hsl(0, 0%, 100%);
  --h2-font-color: hsl(281, 82%, 54%);
}

.attribution a {
  color: var(--h2-font-color);
}

main {
  height: 50vh;
  width: 90vw;
  background-color: var(--main-background-color);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title h1 {
  font-size: 2rem;
}

.wrap {
  border-bottom: 3px solid rgb(251, 251, 251);
}

.wrap:nth-child(5) {
  border-bottom: none;
}

.question {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}

.question h2 {
  font-size: 1.2rem;
}

.question h2:hover {
  color: var(--h2-font-color);
  cursor: pointer;
}

.answer {
  display: none;
  font-size: 1rem;
}

.minus:hover {
  cursor: pointer;
}

.answer-active {
  display: block;
}

.plus,
.minus {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}

.plus-btn {
  display: none;
}

.minus {
  display: none;
}

.minus-btn {
  display: block;
}

.plus-btn2 {
  display: none;
}

.minus2 {
  display: none;
}

.minus-btn2 {
  display: block;
}

@media screen and (width > 30rem) {
  main {
    height: 60vh;
    width: 40vw;
  }
}
