@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/images/background-pattern-mobile.svg);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  height: 100vh;
  box-sizing: border-box;
}

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: hsl(275, 100%, 97%);
  --main-background-color: hsl(0, 0%, 100%);
  --h2-font-color: hsl(281, 82%, 54%);
  --p-font-color: hsl(292, 16%, 49%);
}

.attribution a {
  color: var(--h2-font-color);
}

main {
  height: fit-content;
  width: 90vw;
  background-color: var(--main-background-color);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title h1 {
  font-size: 2rem;
}

.faq {
  border-bottom: 0.125rem solid rgb(251, 251, 251);
}

.wrap:nth-child(5) {
  border-bottom: none;
}

.question {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.question h2 {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.question h2:hover {
  color: var(--h2-font-color);
  cursor: pointer;
}

.answer {
  display: none;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.answer p {
  color: var(--p-font-color);
}

.minus-button:hover {
  cursor: pointer;
}

.plus-button,
.minus-button {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}

.minus-button {
  display: none;
}

.answer-active {
  display: block;
}

.plus-button-inactive {
  display: none;
}

.minus-button-active {
  display: block;
}

@media screen and (width >= 40rem) {
  body {
    background-image: url(./assets/images/background-pattern-desktop.svg);
  }
  main {
    height: fit-content;
    width: 40vw;
  }
  .title h1 {
    font-size: 3rem;
  }
  .question h2 {
    font-size: 1.1rem;
  }
}
